.top {
  font-size: 20px;
  font-weight: 220;
  color: white;
  opacity: .98;
  background-clip: text;  
}

.top ul {
  display: flex;
  justify-content: space-evenly;
}


.contentArea {
  background-image: url(../images/mainpic1.jpeg);
  background-size: cover;
  height: 800px;
  opacity: 0.98;
  background-color: black;
}

.weatherArea {
  background-image: url(../images/mainpic2.jpeg);
  height: 500px;
  width: 900px;
  opacity: 0.98;
}

.welcomePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  top: 300px;
  left: 515px;
  color: white;
  background-color: #007bff;
  border-radius: 15;
}

.size {
  width: auto;
  max-height: 300px;
}

#smaller {
  width: auto;
  max-height: 250px;
  margin-bottom: 50px;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}